var webpack = require('webpack');

module.exports = {
  entry: [
    'webpack/hot/dev-server',
    'webpack-hot-middleware/client',
    './public/javascripts/index.js'
  ],
  output: {
		path: '/',
		publicPath: "http://localhost:3000/dist/", // relative path for github pages
		filename: "all.app.js", // no hash in main.js because index.html is a static page
	},
  module: {
		loaders: [
      { test: /\.js$/, exclude: /node_modules/, loader: "babel-loader" }
    ]
  },
  plugins: [
    new webpack.optimize.OccurrenceOrderPlugin(),
    new webpack.HotModuleReplacementPlugin(),
    new webpack.NoErrorsPlugin()
  ]
};
